body
{
    font-family: sans-serif;
    background: url('fundo.jpg');
}

header
{
    width: 100%;
    padding: 2.5em;
    background-color: gray;
    box-sizing: border-box;
}

header h1
{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 2em;
    text-shadow: 3px 2px rgb(2, 23, 54);
    font-weight: bold;
}

main
{
    padding: 5em 1em;
}

fieldset
{
    background-color: rgb(62, 97, 55);
    border: 2px groove whitesmoke;
    width: 50%;
    margin: 0 auto;
}

input[type='text']
{
    border-radius: 5px;
    padding: 1em;
}

fieldset
{
    color: azure;
    border-radius: 10px;
}

#adicionarProduto, #adicionarCliente
{
    border-radius: 50px;
    border: 2px solid transparent;
    cursor: pointer;
    background-color: rgb(142, 197, 230);
    width: 30px;
    font-size: 1.1em;
}

#adicionarProduto:hover, #adicionarCliente:hover
{
    border: 2px solid rgb(2, 34, 75);
}

section
{
    text-align: center;
}

.tabela
{
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.tabela:last-child
{
    width: 50%;
}

.tabela:first-child
{
    margin-right: 2em;
}

.tabela table
{
    margin: 5em 0;
    width: 100%;
    text-align: center;
}

.tabela th
{
    padding: 1em;
    background-color: rgb(126, 196, 126);
    border: 3px solid black;
}

.tabela td
{
    padding: 1em;
    background-color: rgb(240, 222, 121);
    border: 3px solid black;
}

fieldset
{
    margin-bottom: 2em;
    padding: 1em;
}

#calcular
{
    background-color: rgb(40, 112, 172);
    color: azure;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
}

#notas_fiscais
{
    width: 80%;
    background-color: rgb(168, 210, 218);
    border-radius: 20px;
    border: 3px solid black;
    margin: 2em auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1em 0;
}

#notas_fiscais h2
{
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    color: #2b5a25;
    margin-bottom: 1em;
}

.nota_individual
{
    width: 30%;
    padding: 0.5em;
    display: inline-block;
    margin-bottom: 1em;
}

.nota_individual:nth-child(3n+2)
{
    margin-right: 1%;
    margin-left: 1%;
}

.nota_individual table
{
    margin: 5em 0;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-size: 0.8em;
}

.nota_individual th
{
    padding: 1em;
    background-color: rgb(126, 196, 126);
    border: 3px solid black;
}

.nota_individual td
{
    padding: 1em;
    background-color: rgb(240, 222, 121);
    border: 3px solid black;
}

.nota_individual tfoot td
{
    background-color: gray;
}

.nota_individual tfoot td:first-child
{
    text-align: right;
}